* {
    box-sizing: border-box;
}

:root {
    --color1: lightblue;
    --color2: #F4F4F4;
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: Consolas
}

iframe {
    width: 100%;
    height: 350px;
    border: none;
}

div.cover {
    background: url(images/cover_overlay.png) no-repeat center/100% 100%, 
                url(images/cover.jpg) no-repeat center/cover;
    position: relative;
    height: 400px;
}

img.cover_profile {
    height: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
    margin-right: auto;
    margin-top: 75px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}

div.cover p {
    color: lightgrey;
    text-align: center;
    margin-top: 0px;
}

div.cover_contact {
    position: absolute;
    top: 20px;
    left: 15px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
}

div.cover_contact p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.cover_contact p:first-child {
    margin-bottom: 5px;
}

div.cover_contact a {
    color: white;
    font-size: 14px;
}

div.me_contacter {
    margin-top: 25px;
    text-align: center;
}

div.me_contacter a {
    background-color: rgba(0, 0, 0, 0.5);
    border: 4px solid var(--color1);
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: var(--color1);
    text-transform: uppercase;
    display: inline-block;
}

div.me_contacter a:hover {
    color:aliceblue;
    border: 4px solid aliceblue;
}

div.separator {
    margin-bottom: 10px;
    background-color: lightgray;
    height: 1px;
    width: 150px;
    margin-left: -75px;
    position: relative;
    left: 50%;
}

.display_mobile {
    display:none
}

div.gray_section_1 {
    background: url(images/triangle2white.svg) no-repeat center bottom -1px / 100%;
    background-color: var(--color2);
    padding-bottom: 100px;
}

div.gray_section_1 p {
    font-size: 22px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

div.gray_section_2 {
    background: url(images/triangle1white.svg) no-repeat center top / 100%;
    background-color: var(--color2);
    padding-top: 100px;
}

.section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    overflow: auto;
}

.col40 {
    width: 40%;
}

.col60 {
    width: 60%;
    padding-left: 15px;
}

.float_left {
    float: left
}

.float_right {
    float: right;
}

.text_vertical_line {
    border-left: 3px solid var(--color1);
    padding-left: 10px;
    height: 50px;
    display: inline-block;
}

.vertical_bar {
    height: 50px;
    width: 3px;
    background-color: var(--color1);
    margin-right: 5px;
}

div.frame {
    background-color: white;
    box-shadow: 0px 0px 10px +5px rgba(0, 0, 0, .2);
    margin: 10px 30px 10px 30px;
    padding: 15px;
}

div.frame h2 {
    margin-bottom: 0px;
}

.portfolio_links {
    width: 45%;
}


/* PORTFOLIO */

.portfolio_header {
    height: 90px;
    background: url(images/header.png) no-repeat center top / cover;
}

div.portfolio_header p {
    color:white;
    font-size: 26px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 20px;
}

div.portfolio_header div.me_contacter {
    margin-right: 25px;
    margin-top: 20px;
}

.portfolio h1 {
    color: black;
    font-size: 46px;
    line-height: 1;
}

.portfolio h2 {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 0px;
}

.portfolio_back {
    color: var(--color1);
    display: inline-block;
}

.portfolio_img {
    text-align: center;
    margin-top: 10px;
}

.portfolio_img img {
    width: 70%;
    max-width: 550px;
}

.video_responsive { 
    width: 70%;
    padding-bottom:40%; 
    position:relative; 
    margin-left: auto;
    margin-right: auto;
}

.video_responsive iframe { 
    left:0; 
    top:0; 
    height:100%; 
    width:100%; 
    position:absolute;
}

/* RESPONSIVE : MOBILE */
@media only screen and (max-width: 767px) {
    

    div.gray_section_1 {
        padding-bottom: 40px;
    }
    
    div.gray_section_2 {
        padding-top: 40px;
    }
    
    .section {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .col40 {
        width: 100%;
    }
    
    .col60 {
        width: 100%;
        padding-left: 0px;
        margin-top: 10px;
    }
    
    .portfolio_links {
        width: 100%;
        margin-bottom: 20px;
    }

    div.frame {
        box-shadow: none;
        margin: 10px 0px 10px 0px;
        padding: 0px;
    }


    .portfolio_img img {
        width: 100%;
    }

    .video_responsive { 
        width: 100%;
        padding-bottom:56.25%; 
        position:relative; 
        margin-left: auto;
        margin-right: auto;
    }

    .display_mobile {
        display:block
    }
}


/* for larger screen */
@media only screen and (min-width: 900px) {
    body {
        margin-left: auto;
        margin-right: auto;
        width: 950px
    }
}